.container{
    /* background-color: lightgray; */
    width:80%;
    padding:40px;
    font-size: 14px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.inputs{
    display: flex;
    flex-direction: column;
}